PORT=8005
HOST=localhost

NODE_ENV=development
SESSION_SECRET=fhkjjflkajflkajdfhbjkabvajkhiowejfiodaojakhfna

MONGO_URI=mongodb://root:invexispass@mongodb:27017/debtdb?authSource=admin

# Optional upload path (if service handles files)
UPLOAD_PATH=./uploads
